* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #FDFBF5;
  padding: 1rem;
}

main {
  width: 100%;
  border: 0.1rem solid black;
  box-sizing: border-box;
}

html {
  font-family: "Jetbrains Mono", monospace;
}

.page-1 {
  width: 100%;
}
.page-1 nav {
  height: 5rem;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.page-1 nav .sidebar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.page-1 nav .sidebar-div .atags {
  display: none;
}
.page-1 nav .sidebar-div .butt-1 {
  display: none;
}
.page-1 .line-1 {
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
}
.page-1 .line-1 .hr-1 {
  padding-left: 2rem;
  background-color: black;
  opacity: 60%;
  height: 0.09rem;
  width: 90%;
}
.page-1 .content-page-1 {
  padding: 1rem;
}
.page-1 .content-page-1 .cp-1 {
  padding-left: 0.5rem;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.7rem;
}
.page-1 .content-page-1 .cp-1 br {
  display: none;
}
.page-1 .content-page-1 .cp-1 h1 {
  font-size: 2.3rem;
}
.page-1 .content-page-1 .cp-1 p {
  font-size: 1.3rem;
}
.page-1 .content-page-1 .cp-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 4rem;
  padding-top: 3.7rem;
}
.page-1 .content-page-1 .cp-2 {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.page-1 .content-page-1 .cp-2 img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
}
.page-1 .content-page-1 .line-2 {
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
}
.page-1 .content-page-1 .line-2 .hr-2 {
  padding-left: 2rem;
  background-color: black;
  opacity: 60%;
  height: 0.09rem;
  width: 100%;
}

.page-2 {
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
.page-2 .top {
  width: 100%;
  padding: 0.2rem;
  display: grid;
  grid-template-areas: "p p p p" "q q q q" "r r s s" "t t u u" "v v w w" "z z z z";
  gap: 1.5rem;
}
.page-2 .top p {
  font-weight: 300;
  grid-area: p;
}
.page-2 .top .line-4 {
  display: none;
  grid-area: q;
  /*  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
      .hr-4{
          padding-left: 2rem;
              background-color: black;
              opacity: 60%;
              height: 0.09rem;
              width:90%;

      }*/
}
.page-2 .top .pg2div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: r;
}
.page-2 .top .pg2div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: s;
}
.page-2 .top .pg2div3 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: t;
}
.page-2 .top .pg2div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: u;
}
.page-2 .top .pg2div5 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: v;
}
.page-2 .top .pg2div6 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: w;
}
.page-2 .line-3 {
  display: flex;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  grid-area: z;
}
.page-2 .line-3 .hr-3 {
  padding-left: 2rem;
  background-color: black;
  opacity: 60%;
  height: 0.1rem;
  width: 100%;
}
.page-2 .line-5 {
  display: none;
}
.page-2 .line-5 .hr-5 {
  display: none;
}

.page-3 {
  width: 100%;
  padding: 0.5rem 0.3rem;
}
.page-3 .mainpg-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0.9rem;
  gap: 0.5rem;
}
.page-3 .mainpg-3 .line {
  display: none;
}
.page-3 .mainpg-3 .top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1.5rem;
}
.page-3 .mainpg-3 .top h4 {
  font-weight: 200;
}
.page-3 .mainpg-3 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-3 .mainpg-3 .bottom .box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.page-3 .mainpg-3 .bottom .box-1 img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .mainpg-3 .bottom .box-1 p {
  font-size: 0.9rem;
}
.page-3 .mainpg-3 .bottom .line-a {
  background-color: black;
  width: 100%;
  height: 0.09rem;
}
.page-3 .mainpg-3 .bottom .box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.page-3 .mainpg-3 .bottom .box-2 img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .mainpg-3 .bottom .box-2 p {
  font-size: 0.9rem;
}
.page-3 .mainpg-3 .bottom .line-b {
  background-color: black;
  width: 100%;
  height: 0.09rem;
}
.page-3 .mainpg-3 .bottom .box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.page-3 .mainpg-3 .bottom .box-3 img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .mainpg-3 .bottom .box-3 p {
  font-size: 0.9rem;
}
.page-3 .mainpg-3 .bottom .line-c {
  background-color: black;
  width: 100%;
  height: 0.09rem;
}
.page-3 .mainpg-3 .bottom .box-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
  gap: 1rem;
}
.page-3 .mainpg-3 .bottom .box-4 img {
  width: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .mainpg-3 .bottom .box-4 p {
  font-size: 0.9rem;
}
.page-3 .mainpg-3 .black-line {
  background-color: #111;
  width: 100%;
  height: 0.1rem;
}

.page-4 {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.page-4 .div1 {
  width: 100%;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.6rem;
}
.page-4 .div1 h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
.page-4 .div1 p {
  line-height: 1.5rem;
}
.page-4 .div1 button {
  width: 45%;
  height: 2.3rem;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.page-4 .div2 {
  width: 100%;
}
.page-4 .div2 img {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.page-4 .div3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-4 .div4 {
  width: 100%;
}
.page-4 .div4 img {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.page-4 .div5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-4 .div6 {
  width: 100%;
}
.page-4 .div6 img {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.page-4 .div7 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-4 .div8 {
  width: 100%;
}
.page-4 .div8 img {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.page-4 .div9 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-4 .div10 {
  width: 100%;
}
.page-4 .div10 img {
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 1rem;
  width: 100%;
}
.page-4 .div11 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-4 .black-line-2 {
  background-color: #111;
  width: 100%;
  height: 0.13rem;
}

.page-5 {
  width: 100%;
  padding: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page-5 .top-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding: 1rem 0.5rem;
}
.page-5 .top-1 .inner {
  padding: 0rem 0.2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.page-5 .top-1 .inner p {
  font-weight: 300;
}
.page-5 .top-1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 6rem;
}
.page-5 .top-1 h1 {
  font-size: 2rem;
}
.page-5 .bottom-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem 0.5rem;
}
.page-5 .bottom-1 p {
  font-size: 1.3rem;
}
.page-5 .bottom-1 button {
  width: 45%;
  height: 2.3rem;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.page-5 .line-div-1 {
  width: 100%;
  background-color: #111;
  height: 0.1rem;
}

.page-6 {
  width: 100%;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page-6 .head-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.page-6 .head-1 h1 {
  font-size: 3rem;
}
.page-6 .head-1 button {
  background-color: #FDFBF5;
  width: 6rem;
  border: 1px solid;
  height: 2rem;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
}
.page-6 .bl-1 {
  background-color: #111;
  width: 100%;
  height: 0.09rem;
  margin-top: 1.5rem;
}
.page-6 .foot {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.page-6 .foot .division {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.page-6 .foot .division div {
  width: 100%;
}
.page-6 .foot .division div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border: none;
  border-radius: 1rem;
}

@media (min-width: 1200px) {
  .page-1 nav {
    height: 7rem;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
  }
  .page-1 nav .sidebar-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .page-1 nav .sidebar-div .atags {
    display: block;
  }
  .page-1 nav .sidebar-div .butt-1 {
    display: block;
    background-color: black;
    color: #FDFBF5;
    width: 8rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border: none;
    gap: 0.4rem;
    padding: 0;
  }
  .page-1 .line-1 {
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
  }
  .page-1 .line-1 .hr-1 {
    padding-left: 2rem;
    background-color: black;
    opacity: 60%;
    height: 0.09rem;
    width: 95%;
  }
  .page-1 .content-page-1 {
    padding: 0.5rem 3rem;
    display: grid;
    grid-template-areas: "a b b" "a b b" "c c c";
    gap: 2rem;
  }
  .page-1 .content-page-1 .cp-1 {
    padding-left: 0.5rem;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    grid-area: a;
  }
  .page-1 .content-page-1 .cp-1 br {
    display: block;
  }
  .page-1 .content-page-1 .cp-1 h1 {
    font-size: 4.5rem;
  }
  .page-1 .content-page-1 .cp-1 p {
    font-size: 1.8rem;
  }
  .page-1 .content-page-1 .cp-1 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 4rem;
    padding-top: 3.7rem;
  }
  .page-1 .content-page-1 .cp-2 {
    padding-top: 4rem;
    padding-bottom: 1rem;
    grid-area: b;
    display: flex;
    justify-content: flex-end;
  }
  .page-1 .content-page-1 .cp-2 img {
    width: 75%;
    height: 38rem;
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
  }
  .page-1 .content-page-1 .line-2 {
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
    grid-area: c;
  }
  .page-1 .content-page-1 .line-2 .hr-2 {
    padding-left: 2rem;
    background-color: black;
    opacity: 60%;
    height: 0.09rem;
    width: 100%;
  }
  .page-2 {
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  .page-2 .top {
    width: 100%;
    padding: 0.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    height: 14rem;
    box-sizing: border-box;
  }
  .page-2 .top p {
    font-weight: 300;
    grid-area: p;
  }
  .page-2 .top .line-4 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }
  .page-2 .top .line-4 .hr-4 {
    padding-left: 1rem;
    background-color: black;
    opacity: 60%;
    height: 0.1rem;
    transform: rotate(90deg);
    width: 6rem;
  }
  .page-2 .top .pg2div1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .top .pg2div2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .top .pg2div3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .top .pg2div4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .top .pg2div5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .top .pg2div6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-2 .line-3 {
    display: none;
    /* justify-content: center;
        padding-top: 0.2rem;
        padding-bottom: 0.5rem;
        grid-area: z;
        .hr-3{
            padding-left: 2rem;
            background-color: black;
            opacity: 60%;
            height: 0.09rem;
            width:90%;
        }
    }*/
  }
  .page-2 .line-5 {
    display: block;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
  }
  .page-2 .line-5 .hr-5 {
    display: block;
    padding-left: 2rem;
    background-color: black;
    opacity: 60%;
    width: 100%;
    height: 0.07rem;
  }
  .page-3 {
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }
  .page-3 .mainpg-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 22rem;
    padding: 0rem 0.9rem;
    gap: 0.5rem;
  }
  .page-3 .mainpg-3 .black-line {
    display: none;
  }
  .page-3 .mainpg-3 .box {
    width: 7rem;
  }
  .page-3 .mainpg-3 .box .line {
    display: block;
    background-color: black;
    width: 0.09rem;
    height: 20rem;
  }
  .page-3 .mainpg-3 .top {
    width: 35%;
    height: 20rem;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1.5rem;
  }
  .page-3 .mainpg-3 .top h4 {
    font-weight: 200;
    font-size: 1.5rem;
  }
  .page-3 .mainpg-3 .bottom {
    width: 70%;
    display: grid;
    height: 20rem;
    grid-template-areas: "i j k" "i j k" "l l l" "m n o" "m n o";
    gap: 0.7rem;
  }
  .page-3 .mainpg-3 .bottom .box-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    grid-area: i;
  }
  .page-3 .mainpg-3 .bottom .box-1 .diva {
    display: flex;
    flex-direction: column;
  }
  .page-3 .mainpg-3 .bottom .box-1 img {
    width: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-3 .mainpg-3 .bottom .box-1 p {
    font-size: 1.1rem;
  }
  .page-3 .mainpg-3 .bottom .line-a {
    margin-top: 4.5rem;
    background-color: black;
    width: 7rem;
    height: 0.09rem;
    grid-area: j;
    transform: rotate(90deg);
  }
  .page-3 .mainpg-3 .bottom .box-2 {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    grid-area: k;
  }
  .page-3 .mainpg-3 .bottom .box-2 .divb {
    display: flex;
    flex-direction: column;
  }
  .page-3 .mainpg-3 .bottom .box-2 img {
    width: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-3 .mainpg-3 .bottom .box-2 p {
    font-size: 1.1rem;
  }
  .page-3 .mainpg-3 .bottom .line-b {
    background-color: black;
    width: 100%;
    height: 0.09rem;
    grid-area: l;
  }
  .page-3 .mainpg-3 .bottom .box-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    grid-area: m;
  }
  .page-3 .mainpg-3 .bottom .box-3 .divc {
    display: flex;
    flex-direction: column;
  }
  .page-3 .mainpg-3 .bottom .box-3 img {
    width: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-3 .mainpg-3 .bottom .box-3 p {
    font-size: 1.1rem;
  }
  .page-3 .mainpg-3 .bottom .line-c {
    background-color: black;
    width: 7rem;
    height: 0.09rem;
    grid-area: n;
    margin-top: 4.5rem;
    transform: rotate(90deg);
  }
  .page-3 .mainpg-3 .bottom .box-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 2rem;
    grid-area: o;
  }
  .page-3 .mainpg-3 .bottom .box-4 .divd {
    display: flex;
    flex-direction: column;
  }
  .page-3 .mainpg-3 .bottom .box-4 img {
    width: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-3 .mainpg-3 .bottom .box-4 p {
    font-size: 1.1rem;
  }
  .page-3 .black {
    padding-left: 0.3rem;
    margin-top: 3rem;
    display: block;
    background-color: #111;
    width: 99%;
    height: 0.07rem;
  }
  .page-4 {
    width: 100%;
    padding: 3rem 2rem;
    display: grid;
    grid-template-areas: "a b b" "a b b" "c c c";
    box-sizing: border-box;
    gap: 1.5rem;
    /*.div{
        display: none;
        align-items: flex-start;
        box-sizing: border-box;
        height: 80rem;
        padding-left: 0rem;
        .line-div{
            display: none;
            margin-top: 20rem;
            grid-area: b;
            background-color: #111;
            transform: rotate(90deg);
            width: 100%;
            height: 0.1rem;
        }
    }*/
  }
  .page-4 .div1 {
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.6rem;
    grid-area: a;
  }
  .page-4 .div1 .sticky-div {
    position: fixed;
    top: 3rem;
  }
  .page-4 .div1 .sticky-div h1 {
    font-size: 4rem;
    font-weight: 300;
  }
  .page-4 .div1 .sticky-div p {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 200;
  }
  .page-4 .div1 .sticky-div button {
    width: 45%;
    height: 2.3rem;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
  }
  .page-4 .right-div {
    grid-area: b;
    display: flex;
    flex-direction: column;
  }
  .page-4 .right-div .main-top .div2 {
    width: 100%;
  }
  .page-4 .right-div .main-top .div2 img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
    width: 100%;
  }
  .page-4 .right-div .main-top .div3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .page-4 .right-div .main-bottom {
    display: grid;
    gap: 1rem;
    grid-template-areas: "p . . . r" "q . . . s" ". . . . ." ". . . . ." "t . . . v" "u . . . w";
  }
  .page-4 .right-div .main-bottom .div4 {
    width: 100%;
    grid-area: p;
  }
  .page-4 .right-div .main-bottom .div4 img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
    width: 100%;
  }
  .page-4 .right-div .main-bottom .div5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: q;
  }
  .page-4 .right-div .main-bottom .div6 {
    width: 100%;
    grid-area: r;
  }
  .page-4 .right-div .main-bottom .div6 img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
    width: 100%;
  }
  .page-4 .right-div .main-bottom .div7 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: s;
  }
  .page-4 .right-div .main-bottom .div8 {
    width: 100%;
    grid-area: t;
  }
  .page-4 .right-div .main-bottom .div8 img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
    width: 100%;
  }
  .page-4 .right-div .main-bottom .div9 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: u;
  }
  .page-4 .right-div .main-bottom .div10 {
    width: 100%;
    grid-area: v;
  }
  .page-4 .right-div .main-bottom .div10 img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    border-radius: 1rem;
    width: 100%;
  }
  .page-4 .right-div .main-bottom .div11 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: w;
  }
  .page-4 .black-line-2 {
    grid-area: c;
    background-color: #111;
    width: 100%;
    height: 0.09rem;
  }
  .page-5 {
    width: 100%;
    height: 50rem;
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .page-5 .top-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    padding: 1rem 0.5rem;
  }
  .page-5 .top-1 .inner {
    padding: 0rem 0.2rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-5 .top-1 .inner .in {
    gap: 2rem;
  }
  .page-5 .top-1 .inner .in p {
    font-weight: 200;
    font-size: 2rem;
  }
  .page-5 .top-1 .inner .in h1 {
    font-size: 3rem;
  }
  .page-5 .top-1 img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 6rem;
  }
  .page-5 .bottom-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0.5rem;
  }
  .page-5 .bottom-1 p {
    font-size: 2.3rem;
  }
  .page-5 .bottom-1 button {
    width: 45%;
    height: 2.3rem;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
  }
  .page-5 .line-div-1 {
    margin-top: 19rem;
    margin-left: 5rem;
    width: 100%;
    background-color: #111;
    height: 0.1rem;
    transform: rotate(90deg);
  }
  .page-6 {
    width: 100%;
    padding: 6rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .page-6 .head-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .page-6 .head-1 h1 {
    font-size: 3rem;
  }
  .page-6 .head-1 button {
    background-color: #FDFBF5;
    width: 6rem;
    border: 1px solid;
    height: 2rem;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;
  }
  .page-6 .bl-1 {
    background-color: #111;
    width: 100%;
    height: 0.09rem;
    margin-top: 1.5rem;
  }
  .page-6 .foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .page-6 .foot .division {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .page-6 .foot .division div {
    width: 100%;
  }
  .page-6 .foot .division div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border: none;
    border-radius: 1rem;
  }
}/*# sourceMappingURL=style.css.map */